*{
	padding:0px;
	margin:0px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input{
	-moz-user-select: -moz-text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

html{
	background-color:#000;
	overflow:hidden;
}

html, body{
	width:100%;
	height:100%;
}

canvas{
	display:block;
	padding:1px;
	margin-left:auto;
	margin-right:auto;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#outer{
	position: absolute;
	z-index: 9999999999999999;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	overflow-y: auto;
	background: #000;
}

#inner{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

/*----Editor Specific----*/

div#editorBox{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
}

table#editor{
	display:none;
	width:720px;
	padding:1px;
	margin-left:auto;
	margin-right:auto;
	background-color:#AAA;
	font-family:monospace;
	font-size:10pt;
}

table#editor td{
	vertical-align: top;
}

img#tileEditorSelectionImg{
	display:block;
	width:64px;
	height:auto;
	border:solid 1px black;
}

td#tileEditorPallet{

}

div#objectPropertyEditor
, div#tileEditorPalletBox
, div#triggerEditor{
	overflow-y: auto;
	overflow-x: hidden;
	max-height:150px;
	width:auto;
}

img.palletImg{
	width:32px;
	border:solid 2px black;
	margin-right:2px;
}

img.selectedTile{
	border:solid 2px white;
}

td#tileEditorSelection
, td#objectEditorSelection
, td#triggerEditorSelection
{
	width:220px;
}

input[type="text"]{
	width:100px;
}

html, body {
	overflow: hidden;
}